.topBar {
  grid-row: sl1-start / sl1-end;
  grid-column: sl1-start / sr1-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  border: 0.4rem solid $primary-dark-blue;
  background-color: $background-grey;
  button {
    color: $white;
    background-color: $primary-dark-blue;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.blockLibrary {
  grid-row: sl2-start / sl5-end;
  grid-column: sl1-start / m3-end;
  height: 85vh;
  border: 0.4rem solid $primary-dark-blue;
  background-color: $background-grey;
  border-radius: 0.5rem;
  padding: 2rem;
  h1 {
    text-align: center;
    color: $primary-dark-blue;
    margin-bottom: 2rem;
  }

  ul{
    list-style: none;
  }

}

.preview {
  grid-row: sl2-start / sl5-end;
  grid-column: m4-start / m9-end;

  h1 {
    margin-left: 2rem;
    margin-top: 2rem;
    color: $primary-dark-blue;
    opacity: 0.3;
  }

  li {
    list-style: none;
  }
}

.editor {
  grid-row: sl2-start / sl5-end;
  grid-column: m10-start / sr1-end;
  border: 0.4rem solid $primary-dark-blue;
  border-radius: 0.5rem;
  background-color: $background-grey;
  padding: 2rem;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $primary-dark-blue;
  }
}
