
.topBar{
    grid-row: sl1-start / sl1-end;
    grid-column: sl1-start / sr1-end;
}

.blockLibrary{
    grid-row: sl2-start / sl5-end;
    grid-column: sl1-start / m3-end;
    background-color: rgba(255, 0, 0, 0.276);
    height: 85vh;
}

.preview{
    grid-row: sl2-start / sl5-end;
    grid-column: m4-start / m9-end;
    

    li{
        list-style: none;
    }
}

.editor{
    grid-row: sl2-start / sl5-end;
    grid-column: m10-start / sr1-end;
    background-color: rgba(0, 128, 0, 0.376);
}

