

.profile{
    grid-column: h4-start / h9-end;
    grid-row: sl1-start / sr5-end;
    width: 100%;
    padding-top: 5rem;
    overflow: visible;
    position: relative;

    ul{
        list-style: none;
    }
    
}
