// NOTE: Header Section
.headerSection {
}

.joinNowContainer {
  position: relative;
  grid-column: m1-start / m3-end;
  grid-row: sl1-start / sr1-end;

  button {
    position: absolute;
    top: 350px;
    right: -100px;
    background-color: $primary-dark-blue;
    color: white;
    width: 260px;
    height: 80px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    z-index: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
.headerImageOne {
  position: relative;
  pointer-events: none;
  user-select: none;
  width: 307px;
  height: 680px;
  top: 20px;
  z-index: 2;
}

.headerImageTwo {
  position: relative;
  grid-column: m5-start / m12-end;
  grid-row: sl1-start / sr1-end;
  align-self: end;
  justify-self: end;
  top: 40px;
  width: 486.71px;
  height: 396.32px;
}

.headerMain {
  grid-column: m5-start / m9-end;
  grid-row: sl1-start / sr1-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerH1Main {
  font-weight: bold;
  font-size: 140px;
  font-family: Baskerville;
  color: $primary-dark-blue;
  margin: 3rem 0;
}

.headerH2Main {
  font-size: 50px;
  font-family: Baskerville;
  color: $secondary-light-blue;
  text-align: center;
}

//NOTE: Card Section
.cardSection {
  background-color: $primary-dark-blue;
  grid-row: sl2-start / sr2-end;
  grid-column: sl2-start / sr2-e3nd;
  height: 400px;
  padding: 5rem 0;
}

.cardsBg {
  background-color: $primary-dark-blue;
  grid-row: sl2-start / sr2-end;
  grid-column: sl2-start / sr2-e3nd;
  height: 400px;
}

.cardHolder {
  align-self: center;
  justify-self: center;
  grid-row: sl2-start / sr2-end;
  grid-column: m1-start / m12-end;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .card {
    background-color: $white;
    width: 400px;
    height: 225px;
    border-radius: 1rem;
    padding: 2rem 2.5rem;

    div {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 1rem;

      h3 {
        font-family: Baskerville;
        color: $primary-dark-blue;
        font-size: 37px;
      }
      img {
        width: 60px;
        height: 60px;
      }
    }

    p {
      font-weight: 600;
    }
  }
}

//NOTE: Feature Section
.featureSection {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: sl3-start / sr4-end;
  grid-column: sl3-start / sr3-end;
  margin: 5rem 0;
}

.verticalLine {
  height: 100%;
  width: 6px;
  border-radius: 5px;
  background-color: $primary-dark-blue;
  grid-row: sl3-start / sr3b-end;
  grid-column: m6-start / m7-end;
  justify-self: center;
}

.circle {
  width: 22px;
  height: 22px;
  background-color: $primary-dark-blue;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  z-index: 50;
}

.circleOne {
  grid-row: sl3-start / sr3-end;
  grid-column: m6-start / m7-end;
}
.circleTwo {
  grid-row: sl3a-start / sr3a-end;
  grid-column: m6-start / m7-end;
}
.circleThree {
  grid-row: sl3b-start / sr3b-end;
  grid-column: m6-start / m7-end;
}

.moreIsPlanned{
  grid-row: sl4-start / sr4-end;
  grid-column: m6-start / m7-end;
  align-self: center;
  justify-self: center;
  font-weight: 600;
  color: $primary-dark-blue;
  opacity: 60%;
  margin-top: 1rem;
}

.featureElement {
  margin-top: 4rem;

  span {
    font-weight: bold;
    color: $primary-dark-blue;
    opacity: 40%;
  }

  h2 {
    font-family: Baskerville;
    font-size: 40px;
    font-weight: bold;
    color: $primary-dark-blue;
    margin: 1rem 0;
  }

  ul {
    padding-left: 2rem;
    margin-bottom: 1rem;

    li {
      font-weight: 600;
      color: $primary-dark-blue;
    }
  }

  h4 {
    color: $primary-dark-blue;
  }

  p {
    margin-bottom: 1rem;
  }
}

.featureOne {
  grid-row: sl3-start / sr3-end;
  grid-column: m1-start / m5-end;
}
.featureTwo {
  grid-row: sl3a-start / sr3a-end;
  grid-column: m8-start / m12-end;
}
.featureThree {
  grid-row: sl3b-start / sr3b-end;
  grid-column: m1-start / m5-end;
}

// NOTE: Quote
.quoteSection {
  grid-row: sl5-start / sr5-end;
  grid-column: sl5-start / sr5-end;
  background-color: $primary-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  p {
    color: $white;
    font-size: 25px;
    font-weight: 200;

    &:first-child {
      font-family: Baskerville;
      font-size: 32px;
      font-weight: 600;
      margin: 2rem;
    }
  }
}
