

@font-face{
  font-family: LibreBaskerville;
  src: url('../asset/Libre-Baskerville/LibreBaskerville-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: LibreBaskerville;
  src: url('../asset/Libre-Baskerville/LibreBaskerville-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: LibreBaskerville;
  src: url('../asset/Libre-Baskerville/LibreBaskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: Montserrat;
  src: url('../asset//Montserrat/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../asset/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

$primary-dark-blue: #1E2362;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.bodywrapper {
  display: grid;
  width: 100vw;
  height: auto;
  grid-gap: 10px;
  
  grid-template-areas: "slh h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 srh" "sl m m m m m m m m m m m m sr";
}



a {
  color: inherit;
  text-decoration: none;
}

