


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.bodywrapper {
  display: grid;
  width: 100vw;
  height: auto;
  grid-gap: 10px;
  
  grid-template-areas: "slh h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 srh" "sl m m m m m m m m m m m m sr";
}



a {
  color: inherit;
  text-decoration: none;
}

