.navigation {
  /* grid-area: sl, h, sr; */
  grid-row: slh-start / srh-end;
  grid-column: slh-start / srh-end;
  background-color: $primary-dark-blue;
  height: 10vh;
}

#mainLogo {
  grid-column: h1-start / h2-end;
  grid-row: h1-start / h2-end;
  color: white;
  font-weight: bold;
  font-size: 37px;
  letter-spacing: 2px;
  font-family: LibreBaskerville;
  display: flex;
  align-items: center;
  // justify-content: center;
}



.navItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    li {
      font-family: Montserrat;
      font-weight: bold;
      letter-spacing: 2%;
      color: white;
    }
  }

  h3 {
    color: white;
    font-weight: bold;
    font-size: 37px;
    letter-spacing: 2px;
    font-family: LibreBaskerville;
  }
}

.navItemUnAuth{
  grid-column: h10-start / h11-end;
  grid-row: h10-start / h11-end;
}

.navItemAuth{
  grid-column: h9-start / h11-end;
  grid-row: h9-start / h11-end;
}

.homepage {
  grid-area: m;
}
