.yourGroupes{


    ul{
        list-style: none;
    }
}


.groupElement{
    display: flex;
    margin: 2rem 0;

    width: 100%;
    img{
        margin-right: 2rem;
    }

    .infoHolder{
        width: 100%;
    }

}
