.headerLibraryBlock{
    border: 1px solid $primary-dark-blue;
    height: 5rem;
    width: 50%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.headerBlock{
    position: relative;
    padding: 2rem;

    .closeButton{
        position: absolute;
        top:0;
        right: 0;
        padding: 0.4rem 0.5rem;
        color: $white;
        background-color: $secondary-light-blue;
        border: none;
        border-radius: 0.5rem;
    }


    form{
        input{
           background-color: rgba(0,0,0,0); 
           border: none;
           outline: none;
           font-size: 3.7rem;
           font-family: Baskerville;
           font-weight: 600;
           
            width: 100%;


           &:active{
            outline: none;
           }
        }
    }
}