.popUp {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpBg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.74);
}

.formSection {
  z-index: 2;
  background-color: white;
  width: 50vw;
  height: 50vh;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formHeader {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  h1 {
    font-family: Baskerville;
    color: $primary-dark-blue;
    font-size: 60px;
    font-weight: bold;
  }
}

.formMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  color: $primary-dark-blue;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 50px;
}

.formHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  input {
    border-radius: 5px;
    border: 2px solid $secondary-light-blue;
    margin: 5px;
    padding: 8px;
    color: $secondary-light-blue;
    width: 100%;
  }

  form {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  button {
    color: $white;
    border: none;
    background-color: $primary-dark-blue;
    padding: 5px 35px;
    border-radius: 5px;
    align-self: flex-end;
  }
}
